<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="app-header">
      <nav class="app-header__nav">
        <ul class="app-header__item-list">
          <li class="app-header__item"><a href="/">Home</a></li>
          <li class="app-header__item"><a href="/user" class="active">Users</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>User list</h1>
      <p>There are no user defined at the moment.</p>
    </main>
  </body>
</html>
